@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside{
    width: 100%;
    height: auto;    
}

.container__aside{
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background: red;
    padding-left: 2rem;
}

.container__aside h1{
    font-size: 2.5rem;
}

.container__aside a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.container__aside p{
    font-size: 1.1rem;
}

.productos__aside{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    flex-direction: column;
}

/* ************************************************ */

main{
    display: flex;
    width: auto;
    padding: 1rem;
    margin: 1rem;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    border-radius: 2rem;
    border: 1px solid green;
}

.container h3{
    font-size: 2.8rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
}

.container__productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80vh;
    overflow-y: scroll;
    grid-gap: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.caja__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 32.5vh;
    background: green;
    border-radius: 2rem;
}

.caja__container img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.texto{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-top-right-radius: 1rem;
    border-radius: 0 0 1rem 1rem;
    background: beige;
}

.texto p{
    padding-left: 1rem;
    line-height: 1.8rem;
}

.texto button{
    text-decoration: none;
    border-radius: 1rem;
    color: black;
    border-style: none;
    background: orangered;
    width: 25%;
    padding: .3rem;
    cursor: pointer;
}

.parrafo{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}

/* *******FIN INDEX******** */

aside{
    width: 100%;
    height: auto;    
}

.container__aside__abrigos{
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background: red;
    padding-left: 2rem;
}

.container__aside__abrigos h1{
    font-size: 2.5rem;
}

.container__aside__abrigos a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.container__aside__abrigos p{
    font-size: 1.1rem;
}

.productos__aside__abrigos{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    flex-direction: column;
}

/* ************************************************ */

main{
    display: flex;
    width: auto;
    padding: 1rem;
    margin: 1rem;
}

.container__abrigos{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    border-radius: 2rem;
    border: 1px solid green;
}

.container__abrigos h3{
    font-size: 2.8rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
}

.container__productos__abrigos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80vh;
    overflow-y: scroll;
    grid-gap: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.caja__container__abrigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 32.5vh;
    background: green;
    border-radius: 2rem;
}

.caja__container__abrigos img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.texto__abrigos{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-top-right-radius: 1rem;
    border-radius: 0 0 1rem 1rem;
    background: beige;
}

.texto__abrigos p{
    padding-left: 1rem;
    line-height: 1.8rem;
}

.texto__abrigos button{
    text-decoration: none;
    border-radius: 1rem;
    color: black;
    border-style: none;
    background: orangered;
    width: 25%;
    padding: .3rem;
    cursor: pointer;
}

.parrafo__abrigos{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}


/* *******FIN ABRIGOS******** */

aside{
    width: 100%;
    height: auto;    
}

.container__aside__camisetas{
    display: flex;
    width: auto;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    background: red;
    padding-left: 2rem;
}

.container__aside__camisetas h1{
    font-size: 2.5rem;
}

.container__aside__camisetas a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.container__aside__camisetas p{
    font-size: 1.1rem;
}

.productos__aside__camisetas{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    flex-direction: column;
}

/* ************************************************ */

main{
    display: flex;
    width: auto;
    padding: 1rem;
    margin: 1rem;
}

.container__camisetas{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: column;
    border-radius: 2rem;
    border: 1px solid green;
}

.container__camisetas h3{
    font-size: 2.8rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
}

.container__productos__camisetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80vh;
    overflow-y: scroll;
    grid-gap: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.caja__container__camisetas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 32.5vh;
    background: green;
    border-radius: 2rem;
}

.caja__container__camisetas img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.texto__camisetas{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-top-right-radius: 1rem;
    border-radius: 0 0 1rem 1rem;
    background: beige;
}

.texto__camisetas p{
    padding-left: 1rem;
    line-height: 1.8rem;
}

.texto__camisetas button{
    text-decoration: none;
    border-radius: 1rem;
    color: black;
    border-style: none;
    background: orangered;
    width: 25%;
    padding: .3rem;
    cursor: pointer;
}

.parrafo__camisetas{
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
}