<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside>
        <div class="container__aside__abrigos">
            <h1>Campus Shop</h1>
            <div class="productos__aside__abrigos">
                <a href="/views/index.html">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a href="">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a href="">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a href="">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside">
                <a href="">
                    <i class='bx bx-folder'></i>
                    Carritos
                </a>
            </div>
            <p>2023 Camper</p>
        </div>
    </aside>
   <main>
        <div class="container__abrigos">
            <h3>Todos los productos</h3>
            <div class="container__productos__abrigos">
                <div class="caja__container">
                    <img src="storage/img/abrigo1.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo2.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo3.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo4.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo1.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo2.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo3.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="storage/img/abrigo4.png" alt="">
                    <div class="texto">
                        <p>Abrigo01</p>
                        <p>$ 1.000 <button>Agregar</button></p>
                    </div>
                </div>
            </div>
        </div>
   </main>
</body>
</html>