<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside class="aside__carritos">
        <div class="container__aside__carritos">
            <h1>Campus Shop</h1>
            <div class="productos__aside__carritos">
                <a href="../index.html">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a href="./abrigos.html">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a href="./camisetas.html">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a href="./pantalones.html">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside__carritos">
                <a href="">
                    <i class='bx bx-folder'></i>
                    Carritos
                </a>
            </div>
            <p>2023 Camper</p>
        </div>
    </aside>
   <main class="main__carritos">
        <div class="container__carritos">
            <h3>Carritos</h3>
            <div class="container__productos__carritos">
                <div class="caja__container__carritos">
                    <img src="../storage/img/abrigo1.png" alt="">
                    <div class="texto__carritos">
                        <div class="texto1__carritos">
                            <p>Nombre</p>
                            <p>Pantalones 01</p>
                        </div>
                        <div class="texto1__carritos">
                            <p>Cantidad</p>
                            <div class="lineado">
                                <p>2</p>
                            </div>
                        </div>
                        <div class="texto1__carritos">
                            <p>Precio</p>
                            <p>$ 1.000</p>
                        </div>
                        <div class="texto1__carritos">
                            <p>Subtotal</p>
                            <p>$ 2.000</p>
                        </div>
                    </div>
                </div>
                <div class="caja__container__carritos">
                    <img src="../storage/img/abrigo4.png" alt="">
                    <div class="texto__carritos">
                        <p>Abrigo01</p>
                        <div class="texto1__carritos">
                            <p>Nombre</p>
                            <p>Pantalones 01</p>
                        </div>
                        <div class="texto1__carritos">
                            <p>Cantidad</p>
                            <div class="lineado">
                                <p>2</p>
                            </div>
                        </div>
                        <div class="texto1__carritos">
                            <p>Precio</p>
                            <p>$ 1.000</p>
                        </div>
                        <div class="texto1__carritos">
                            <p>Subtotal</p>
                            <p>$ 2.000</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
   </main>
</body>
</html>