<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside>
        <nav class="container__aside">
            <a href="../carga.html">
                <h1>Campus Shop</h1>
            </a>
            <div class="productos__aside"> 
                <a href="">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a href="./abrigos.html">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a href="./camisetas.html">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a href="./pantalones.html">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside">
                <a href="./carritos.html">
                    <i class='bx bx-folder'></i>
                    Carritos
                </a>
            </div>
            <p>2023 Camper</p>
        </nav>
    </aside>
   <main>
        <div class="container">
            <h3>Todos los productos</h3>
            <div class="container__productos">
                <div class="caja__container">
                    <img src="../storage/img/abrigo1.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 01</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo2.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 02</p>
                        <div class="parrafo">
                            <p>$ 2.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo3.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 03</p>
                        <div class="parrafo">
                            <p>$ 3.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo4.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 04</p>
                        <div class="parrafo">
                            <p>$ 5.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas1.png" alt="">
                    <div class="texto">
                        <p>Camiseta - 01</p>
                        <div class="parrafo">
                            <p>$ 8.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas2.png" alt="">
                    <div class="texto">
                        <p>Camiseta - 02</p>
                        <div class="parrafo">
                            <p>$ 10.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas3.png" alt="">
                    <div class="texto">
                        <p>Camiseta - 03</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas4.png" alt="">
                    <div class="texto">
                        <p>Camiseta - 04</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones1.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 01</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones2.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 02</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones3.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 03</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones4.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 04</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo1.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 01</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo2.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 02</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo3.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 03</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/abrigo4.png" alt="">
                    <div class="texto">
                        <p>Abrigo - 04</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas1.png" alt="">
                    <div class="texto">
                        <p>Camisetas - 01</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas2.png" alt="">
                    <div class="texto">
                        <p>Camisetas - 02</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas3.png" alt="">
                    <div class="texto">
                        <p>Camisetas - 03</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/camisetas4.png" alt="">
                    <div class="texto">
                        <p>Camisetas - 04</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones1.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 01</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones2.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 02</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones3.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 03</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container">
                    <img src="../storage/img/pantalones4.png" alt="">
                    <div class="texto">
                        <p>Pantalones - 04</p>
                        <div class="parrafo">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </main>
</body>
</html>