<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside class="aside__pantalones">
        <div class="container__aside__pantalones">
            <h1>Campus Shop</h1>
            <div class="productos__aside__pantalones">
                <a href="../index.html">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a href="./abrigos.html">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a href="./camisetas.html">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a href="./pantalones.html">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside__pantalones">
                <a href="./carritos.html">
                    <i class='bx bx-folder'></i>
                    Carritos
                </a>
            </div>
            <p>2023 Camper</p>
        </div>
    </aside>
   <main class="main__pantalones">
        <div class="container__pantalones">
            <h3>Pantalones</h3>
            <div class="container__productos__pantalones">
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones1.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones2.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones3.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones4.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones1.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones2.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones3.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="caja__container__pantalones">
                    <img src="../storage/img/pantalones4.png" alt="">
                    <div class="texto__pantalones">
                        <p>Abrigo01</p>
                        <div class="parrafo__pantalones">
                            <p>$ 1.000</p>
                            <button>Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </main>
</body>
</html>