<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside class="aside__vacio">
        <div class="container__aside__vacio">
            <a href="../carga.html">
                <h1>Campus Shop</h1>
            </a>
            <div class="productos__aside__vacio">
                <a href="./index.html">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a href="./abrigos.html">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a href="./camisetas.html">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a href="./pantalones.html">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside__vacio">
                <a href="./carritos.html">
                    <i class='bx bx-folder'></i>
                    Carritos
                    (0)
                </a>
            </div>
            <p>2023 Camper</p>
        </div>
    </aside>
   <main class="main__vacio">
        <div class="container__vacio">
            <h3>Carritos</h3>
            <div class="container__productos__vacio">
                <h4>Tu carrito esta vacio <i class='bx bx-tired'></i></h4>
            </div>
        </div>
   </main>
</body>
</html>