<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="module" src="../js/main.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <aside>
        <nav class="container__aside">
            <a href="../carga.html">
                <h1>Campus Shop</h1>
            </a>
            <div class="productos__aside"> 
                <a id="productos">
                    <i class='bx bx-folder'></i>
                    Todos los productos
                </a>
                <a id="abrigos">
                    <i class='bx bx-folder'></i>
                    Abrigos
                </a>
                <a id="camisetas">
                    <i class='bx bx-folder'></i>
                    Camisetas
                </a>
                <a id="pantalones">
                    <i class='bx bx-folder'></i>
                    Pantalones
                </a>
            </div>
            <div class="carritos__aside">
                <a id="carrito">
                    <i class='bx bx-folder'></i>
                    Carritos
                </a>
            </div>
            <p>2023 Camper</p>
        </nav>
    </aside>
   <main>
        <div class="container">
            <div class="container__productos__todos"></div>
            <div class="container__productos__abrigos"></div>
            <div class="container__productos__camisetas"></div>
            <div class="container__productos__pantalones"></div>
            <div class="container__productos__carrito"></div>
        </div>
   </main>
</body>
</html>